.search-bar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    flex-grow: 1; /* Allow it to grow */
    max-width: 400px;
    width: 100%; /* Ensure it takes full width on smaller screens */
}

.search-bar {
    padding: 10px;
    width: 100%; /* Make input responsive */
    max-width: 400px; /* Set a max width */
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1; /* Allow it to grow */
}